.episodes__item {
  padding: 0.5rem;
  opacity: 0;
  animation: fade-in 300ms 300ms forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
